h1 {
  color: green;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.image {
  width: 50%;
  height: 50%;
}

/* ROW of IMAGES */

.imageRowBox {
  width: 100%;
  background-color: green;
}

.imageRow {
  float: left;
  width: calc((100% - 20px)/3);
  margin-right: 10px;
}

img.imageRow:last-of-type {
  margin-right: 0;
}

.header {
  width: 50%;
  font-size: 6vw;
}

.centerHeader {
  text-align: center;
}

/*@media screen and (min-width: 450px) {
  .dark_blue { order: 1; width: 50%; height: 300px;}
  #container2 { order: 2; width: 50%;}
  .red { order: 3; width: 100%; }
}*/
