h1 {
  color: green;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 50%;
  font-size: 6vw;
}

.centerHeader {
  text-align: center;
}

.image {
  width: 50%;
  height: 50%;
}

.box {
  height: 150px;
  width: 100%;
}

.lime {
  background-color: lime;
}

.dark_blue {
  background-color: darkblue;
}

.light_blue {
  background-color: lightblue;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.other_green {
  background-color: #44af60;
}

.button {
  color: red;
  background-color: purple;
  width: 100%;
  min-height: 48px;
  /*margin: 40px;*/
}


@media screen and (min-width: 450px) {
  .dark_blue { order: 1; width: 25%; }
  .light_blue { order: 2; width: 75%;}
  .green { order: 3; width: 100%; }
}

@media screen and (min-width: 800px) {
  .dark_blue { order: 1; width: 25%; }
  .light_blue { order: 2; width: 50%;}
  .green { order: 3; width: 25%; }
}

@media screen and (min-width: 1000px) {
  .container { width: 1000px; margin-left: auto; margin-right: auto;}  
}
