/*@media screen and (min-width: 700px) {
  .dark_blue { order: 4; }
  .light_blue { order: 5; }
  .green { order: 2; }
  .orange { order: 3; }
  .red { order: 1; }
}*/


h1 {
  color: green;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 50%;
  font-size: 6vw;
}

.image {
  width: 50%;
  height: 50%;
}

.box {
  height: 150px;
  width: 100%;
  text-align: center;
}

.lime {
  background-color: lime;
}

.dark_blue {
  background-color: darkblue;
}

.light_blue {
  background-color: lightblue;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.other_green {
  background-color: #44af60;
}

.button {
  color: red;
  background-color: purple;
  width: 100%;
  min-height: 48px;
  /*margin: 40px;*/
}

@media screen and (min-width: 600px) {
  .lime { order: 0; width: 100%; }
  .red { order: 1; width: 50%; }
  .orange { order: 2; width: 50%;}
  .other_green { order: 3; width: 100%;}
  .light_blue { order: 4; width: 20%;}
  .dark_blue { order: 5; width: 60%; }
  .green { order: 6; width: 20%; }
}
