h1 {
  color: green;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 50%;
  font-size: 6vw;
}

.centerHeader {
  text-align: center;
}

.image {
  width: 50%;
  height: 50%;
}

.box {
  height: 150px;
  width: 100%;
  text-align: center;
}

.lime {
  background-color: lime;
}

.dark_blue {
  background-color: darkblue;
}

.light_blue {
  background-color: lightblue;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.other_green {
  background-color: #44af60;
}

.button {
  color: red;
  background-color: purple;
  width: 100%;
  min-height: 48px;
  /*margin: 40px;*/
}


@media screen and (min-width: 450px) {
  .dark_blue { order: 1; width: 100%; }
  .light_blue { order: 2; width: 50%;}
  .green { order: 3; width: 50%; }
  .red { order: 4; width: 100%; }
  .orange { order: 5; width: 100%;}
}

@media screen and (min-width: 600px) {
  .dark_blue { order: 1; width: 100%; }
  .light_blue { order: 2; width: 50%;}
  .green { order: 3; width: 50%; }
  .red { order: 4; width: 33.3333333%; }
  .orange { order: 5; width: 66.666666%;}
}

@media screen and (min-width: 800px) {
  .container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*@media screen and (min-width: 900px) {
  .dark_blue { order: 1; width: 50%;max-width: 450px; margin-left: auto;}
  .light_blue { order: 2; width: 50%;max-width: 450px; margin-right: auto;}
  .green { order: 3; width: 33.33%; max-width: 300px; margin-left: auto;}
  .red { order: 4; width: 33.33%; max-width: 300px;}
  .orange { order: 5; width: 33.33%;max-width: 300px; margin-right: auto;}
}*/
